<!--
author: allycs
author email: allycs@126.com
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>elephant | elephant Login </title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="allycs design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //custom-theme -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    @Partial['font.html'];
</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /allycs_agileits_top_nav-->
        <!-- /nav-->
        <div class="allycs_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- //nav_agile_allycs -->
                <li class="second logo admin" style="float:left;">
                    <h1><a href="main-page"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Elephant </a></h1>
                </li>
            </ul>
            <!-- //nav -->
        </div>
        <div class="clearfix"></div>
        <!-- //allycs_agileits_top_nav-->
        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_allycs_agile_info-->
            <div class="inner_content_allycs_agile_info">
                <div class="registration admin_agile">
                    <div class="signin-form profile admin">
                        <div class="alert alert-danger" role="alert" style="display:none;">
                            <strong>验证不合法!</strong>请再次检查登录的各项参数是否合法。
                        </div>
                        <h2>管理登录</h2>
                        <div class="login-form">
                            <input type="text" name="name" value="13371375915">
                            <input type="password" name="password" value="aa11bb22">
                            <div class="tp">
                                <input type="submit" value="登录">
                            </div>
                        </div>
                        <div class="login-social-grids admin_allycs">
                            <ul>
                                <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                            </ul>
                        </div>
                        <h6><a href="main-page">返回首页</a><h6>
                    </div>

                </div>
                <!-- //inner_content_allycs_agile_info-->
            </div>
            <!-- //inner_content-->
        </div>
        <!-- banner -->
        <!--copy rights start here-->
        @Partial['copyrights.html'];
        <!--copy rights end here-->
    </div>
    <!-- js -->

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <script src="js/classie.js"></script>
    <!--<script src="js/gnmenu.js"></script>-->
    <!--<script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>-->
    <!-- //js -->
    <script src="js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>

    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <script src="js/login.js"></script>
    <script>
        jQuery(document).ready(function () {
            Login.init();
        });
    </script>
</body>
</html>