@Master['master.html']

@Section['page_style']
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- /inner_content_allycs_agile_info-->
    <!-- breadcrumbs -->
    <div class="allycs_agileits_breadcrumbs">
        <div class="allycs_agileits_breadcrumbs_inner">
            <ul>
                @Partial['breadcrumbs_main-page.html'];
                <li>财务管理<span>«</span>资金明细列表</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="inner_content_allycs_agile_info two_in">
        <!-- tables -->
        <div class="agile-tables">
            <div class="alert alert-danger alert-main" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="allycs-table-info agile_info_shadow">
                <div class="row">
                    <div class="col-sm-2">
                        <h3 class="allycs_inner_tittle two">资金明细列表</h3>
                    </div>
                    <div class="col-sm-10" style="padding-top: 0.5em;">
                        <div class="col-sm-3" style="padding-left:0;padding-right:2px;">
                            <div class="input-daterange input-group">
                                <input id="search_start_time" readonly type="text" class="input-sm form-control form_datetime" name="start" />
                                <span class="input-group-addon">到</span>
                                <input id="search_end_time" readonly type="text" class="input-sm form-control form_datetime" name="end" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input id="search_user_id" type="text" class="form-control" placeholder="会员编号">
                        </div>
                        <div class="col-sm-2">
                            <select name="selector_category" id="search_type" class="form-control1" placeholder="交易类型">
                                <option value="-1">交易类型不限</option>
                                <option value="0">充值卡结算</option>
                                <option value="1">提现</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="selector_state" id="search_status" class="form-control1" placeholder="结算状态">
                                <option value="-1">结算状态不限</option>
                                <option value="0">待结算 </option>
                                <option value="1">已结算</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-default" type="button" style="margin-top:2px;" onclick="Table.search();">Go!</button>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <table id="table">
                    <thead>
                        <tr>
                            <th>用户主键</th>
                            <th>会员编号</th>
                            <th>创建时间</th>
                            <th>关联业务主键</th>
                            <th>交易金额</th>
                            <th>交易前金额</th>
                            <th>交易后余额</th>
                            <th>交易类型</th>
                            <th>结算状态</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody id="capital_details_table"></tbody>
                </table>
                <nav class="main" aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled"><a href="#javascript:;" onclick="previousPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li><span aria-hidden="true" id="total">共-条</span></li>
                        <li class="next"><a href="#javascript:;" onclick="nextPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- //tables -->
        <!-- /social_media-->
        @Partial['social_media_allycs.html'];
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_script']
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script src="js/capital-details-table.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    var startTime = new Date().Format("yyyy/MM/dd hh:mm:ss");
    var endTime = startTime;
    var userId = null;
    var type = null;
    var status = null;
    $("#search_start_time").val(startTime);
    $("#search_end_time").val(endTime);
    $(document).ready(function () {
        $('#table').basictable();
        $('#search_start_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond : true,
            showHours: true,
            minuteStep:15,
            language: "zh-CN"
        });
         $('#search_end_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond : true,
            showHours: true,
            minuteStep:15,
            language: "zh-CN"
        });
        Table.init();
    });
</script>
@EndSection