@Master['master.html']

@Section['page_style']
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- /inner_content_allycs_agile_info-->
    <div class="inner_content_allycs_agile_info">
        <!-- /agile_top_allycs_grids-->
        <div class="agile_top_allycs_grids">
            <ul class="ca-menu">
                <li>
                    <a href="#">

                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main" id="product_count">--</h4>
                            <h3 class="ca-sub">产品总数</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main one" id="user_count">--</h4>
                            <h3 class="ca-sub one">用户总数</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main two">29,008</h4>
                            <h3 class="ca-sub two">卡密总数</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main three">49,436</h4>
                            <h3 class="ca-sub three">卡密出库总数</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main four">30,808</h4>
                            <h3 class="ca-sub four">用户提现总次数</h3>
                        </div>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- //agile_top_allycs_grids-->

        <!-- /chart_agile-->
        <!-- /bottom_agileits_grids-->
        <div class="bottom_agileits_grids">
            <div class="col-md-4 profile-main">
                <div class="profile_bg_agile">
                    <div class="profile-pic wthree">
                        <h2>allycs@126.com</h2>
                        <img src="images/profile.jpg" alt="Image">
                        <p>网站设计者</p>
                    </div>
                    <div class="profile-ser">
                        <div class="follow-grids-agileits-allycs_layouts">
                            <div class="profile-ser-grids">
                                <h3>项目数</h3>
                                <h4>86</h4>
                            </div>
                            <div class="profile-ser-grids agileinfo">
                                <h3>GitHub项目数</h3>
                                <h4>26</h4>
                            </div>
                            <div class="profile-ser-grids no-border">
                                <h3>Git被跟随数</h3>
                                <h4>36</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="allycs_social_icons allycs_social_icons1">
                            <ul>
                                <li><a href="tencent://message/?uin=41585493&amp;Site=有事Q我&amp;Menu=yes" class="facebook"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="google_plus"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 allycs_agile_cylinder chart agile_info_shadow" style="padding:0em;">
                <h3 class="allycs_inner_tittle two"> Cylinder chart</h3>
                <div id="chartdiv" style="height:396px;"></div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- //bottom_agileits_grids-->

        <!-- /social_media-->
        @Partial['social_media_allycs.html'];
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_scriptafter_jquery']

<!-- /amcharts -->
<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<!--<script src="js/export.js"></script>-->
<script src="js/light.js"></script>
<!-- Chart code -->
<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "theme": "light",
        "type": "serial",
        "startDuration": 2,
        "dataProvider": [{
            "country": "卡密数",
            "visits": 1000,
            "color": "#FF0F00"
        }, {
            "country": "卡密出库总数",
            "visits": 400,
            "color": "#FF6600"
        }, {
            "country": "用户提现总数",
            "visits": 1000,
            "color": "#FF9E01"
        }, {
            "country": "产品数",
            "visits": 200,
            "color": "#FCD202"
        }, {
            "country": "用户数",
            "visits": 3,
            "color": "#F8FF01"
        }],
        "valueAxes": [{
            "position": "left",
            "axisAlpha": 0,
            "gridAlpha": 0
        }],
        "graphs": [{
            "balloonText": "[[category]]: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "visits"
        }],
        "depth3D": 40,
        "angle": 30,
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "gridAlpha": 0

        },
        "export": {
            "enabled": true
        }

    }, 0);
</script>

<!-- //amcharts -->
<script src="js/Chart.min.js"></script>
@EndSection

@Section['page_script']
@EndSection
@Section['page_script_after_screenfull']
<script src="js/bars.js"></script>
<script src="js/main-page.js"></script>
<script>
    jQuery(document).ready(function () {
        Main_Page.init();
    });
</script>
@EndSection