@Master['master.html']

@Section['page_style']
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="alert alert-danger alert-danger-modal" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="alert alert-success alert-success-modal" role="alert" style="display:none;">
                <strong>操作成功！</strong>本次操作未发现异常。
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">卡密出库操作日志列表</h4>
                </div>
                <div class="modal-body" style="padding:0;">
                    <div class="grid-1">
                        <div class="allycs-table-info agile_info_shadow" style="margin-bottom:0;">
                            <table id="modal-table">
                                <thead>
                                    <tr>
                                        <th>日志编号</th>
                                        <th>操作用户</th>
                                        <th>用户类型</th>
                                        <th>请求IP</th>
                                        <th>卡密出库编号</th>
                                        <th>创建时间</th>
                                        <th>日志内容</th>
                                    </tr>
                                </thead>
                                <tbody id="out_stock_log_modal_table"></tbody>
                            </table>
                            <nav class="modal" aria-label="...">
                                <ul class="pager">
                                    <li class="previous disabled"><a href="#javascript:;" onclick="previousModalPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                                    <li><span aria-hidden="true" id="modal_total">共-条</span></li>
                                    <li class="next"><a href="#javascript:;" onclick="nextModalPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /inner_content_allycs_agile_info-->
    <!-- breadcrumbs -->
    <div class="allycs_agileits_breadcrumbs">
        <div class="allycs_agileits_breadcrumbs_inner">
            <ul>
                @Partial['breadcrumbs_main-page.html'];
                <li>出库管理<span>«</span>出库列表</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="inner_content_allycs_agile_info two_in">
        <!-- tables -->
        <div class="agile-tables">
            <div class="alert alert-danger alert-main" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="allycs-table-info agile_info_shadow">
                <div class="row">
                    <div class="col-sm-2">
                        <h3 class="allycs_inner_tittle two">卡密出库列表</h3>
                    </div>
                    <div class="col-sm-10" style="padding-top: 0.5em;">
                        <div class="col-sm-3" style="padding-left:0;padding-right:2px;">
                            <div class="input-daterange input-group">
                                <input id="search_start_time" readonly type="text" class="input-sm form-control form_datetime" name="start" />
                                <span class="input-group-addon">到</span>
                                <input id="search_end_time" readonly type="text" class="input-sm form-control form_datetime" name="end" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input id="search_id" type="text" class="form-control" placeholder="系统订单号">
                        </div>
                        <div class="col-sm-2">
                            <input id="search_user_id" type="text" class="form-control" placeholder="会员编号">
                        </div>
                        <div class="col-sm-2">
                            <input id="search_user_order_id" type="text" class="form-control" placeholder="用户订单号">
                        </div>
                        <div class="col-sm-2">
                            <input id="search_account" type="text" class="form-control" placeholder="充值号码">
                        </div>

                        <div class="col-sm-1">
                            <button class="btn btn-default" type="button" style="margin-top:2px;" onclick="Table.search();">Go!</button>
                        </div>
                    </div>
                    <div div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-2">
                            <!--<input id="search_par_value" type="text" class="form-control" placeholder="面值">-->
                            <select name="search_par_value" id="search_par_value" class="form-control1" placeholder="面值">
                                <option value="-1">面值不限</option>
                                <option value="10">面值：10</option>
                                <option value="20">面值：20</option>
                                <option value="30">面值：30</option>
                                <option value="50">面值：50</option>
                                <option value="100">面值：100</option>
                                <option value="200">面值：200</option>
                                <option value="300">面值：300</option>
                                <option value="500">面值：500</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="selector_state" id="search_state" class="form-control1" placeholder="卡密状态">
                                <option value="-1">状态不限</option>
                                <option value="0">未使用 </option>
                                <option value="1">已使用</option>
                                <option value="2">使用中 </option>
                                <option value="3">未知</option>
                                <option value="4">密码错误</option>
                                <option value="5">未激活</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="selector_category" id="search_category_id" class="form-control1" placeholder="运营商">
                                <option value="-1">运营商不限</option>
                                <option value="0">移动</option>
                                <option value="1">联通</option>
                                <option value="2">电信</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input id="search_channel_id" type="text" class="form-control" placeholder="渠道ID">
                        </div>
                        <div class="col-sm-2">
                            <input id="search_location" type="text" class="form-control" placeholder="归属地">
                        </div>
                        <div class="col-sm-2">
                            <input id="search_pre_card_id" type="text" class="form-control" placeholder="充值卡号">
                        </div>
                    </div>
                </div><!-- /.row -->
                <table id="table" style="margin-top:0.5em;">
                    <thead>
                        <tr>
                            <th>系统订单号</th>
                            <th>充值卡卡号</th>
                            <th>用户订单号</th>
                            <th>提交渠道编号</th>
                            <th>充值号码</th>
                            <th>面值</th>
                            <th>归属地</th>
                            <th>运营商</th>
                            <th>产品名称</th>
                            <th>产品类型</th>
                            <th>会员编号</th>
                            <th>创建时间</th>
                            <th>完成时间</th>
                            <th>订单状态</th>
                            <!--<th>通知地址</th>
                            <th>产品主键</th>-->
                            <th>备注</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="out_stock_table"></tbody>
                </table>
                <nav class="main" aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled"><a href="#javascript:;" onclick="previousPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li><span aria-hidden="true" id="total">共-条</span></li>
                        <li class="next"><a href="#javascript:;" onclick="nextPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- //tables -->
        <!-- /social_media-->
        <!--@Partial['social_media_allycs.html'];-->
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_script']
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="js/control-modal-page.js"></script>
<script src="js/out-stock-table.js"></script>
<script src="js/init.search.date.js"></script>
<script type="text/javascript">
    var id = null;
    var userId = null;
    var userOrderId = null;
    var account = null;
    var parValue = null;
    var state = -1;
    var categoryId = -1;
    var channelId = null;
    var qCellCore = null;
    var preCardId = null;
    $("#search_start_time").val(startTime);
    $("#search_end_time").val(endTime);
    $(document).ready(function () {
        $('#table').basictable();
        $('#modal-table').basictable();
        $('#search_start_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond: true,
            showHours: true,
            minuteStep: 15,
            language: "zh-CN"
        });
        $('#search_end_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond: true,
            showHours: true,
            minuteStep: 15,
            language: "zh-CN"
        });
        Table.init();
    });
</script>
@EndSection