@Master['master.html']

@Section['page_style']
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- /inner_content_allycs_agile_info-->
    <!-- breadcrumbs -->
    <div class="allycs_agileits_breadcrumbs">
        <div class="allycs_agileits_breadcrumbs_inner">
            <ul>
                @Partial['breadcrumbs_main-page.html'];
                <li>出库管理<span>«</span>出库列表</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <div class="inner_content_allycs_agile_info two_in">

        <!-- tables -->

        <div class="agile-tables">
            <div class="alert alert-danger" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="allycs-table-info agile_info_shadow">
                <h3 class="allycs_inner_tittle two">卡密出库列表</h3>
                <table id="table">
                    <thead>
                        <tr>
                            <th>批次主键</th>
                            <th>产品主键</th>
                            <th>总金额</th>
                            <th>面值</th>
                            <th>上传时间</th>
                            <th>已用数量</th>
                            <th>未用数量</th>
                            <th>错误数</th>
                            <th>在用书</th>
                            <th>上传用户主键</th>
                            <th>批次状态</th>
                            <th>初始折扣</th>
                            <th>当前折扣</th>
                            <th>用户备注</th>
                            <th>优先级</th>
                            <th>产品类目</th>
                            <th>卡密信息</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="pre_card_batch_table"></tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled"><a href="#javascript:;" onclick="previousPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li><span aria-hidden="true" id="total">共-条</span></li>
                        <li class="next"><a href="#javascript:;" onclick="nextPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- //tables -->
        <!-- /social_media-->
        @Partial['social_media_allycs.html'];
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_script']
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script src="js/pre-card-batch-table.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').basictable();
        Pre_Card_Batch_Table.init();
    });
</script>
@EndSection