@Master['master.html']

@Section['page_style']
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- /inner_content_allycs_agile_info-->
    <!-- breadcrumbs -->
    <div class="allycs_agileits_breadcrumbs">
        <div class="allycs_agileits_breadcrumbs_inner">
            <ul>
                @Partial['breadcrumbs_main-page.html'];
                <li>卡密管理<span>«</span>卡密列表</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="inner_content_allycs_agile_info two_in">
        <!-- tables -->
        <div class="agile-tables">
            <div class="alert alert-danger alert-main" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="allycs-table-info agile_info_shadow">
                <div class="row">
                    <div class="col-sm-2">
                        <h3 class="allycs_inner_tittle two">卡密列表</h3>
                    </div>
                    <div class="col-sm-10" style="padding-top: 0.5em;">
                        <div class="row">
                            <div class="col-sm-3" style="padding-left:0;padding-right:2px;">
                                <div class="input-daterange input-group">
                                    <input id="search_start_time" readonly type="text" class="input-sm form-control form_datetime" name="start" />
                                    <span class="input-group-addon">到</span>
                                    <input id="search_end_time" readonly type="text" class="input-sm form-control form_datetime" name="end" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input id="search_batch_id" type="text" class="form-control" placeholder="批次号">
                            </div>
                            <div class="col-sm-2">
                                <input id="search_card_id" type="text" class="form-control" placeholder="充值卡号">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3">
                                <select name="selector_state" id="search_card_state" class="form-control1" placeholder="卡密状态">
                                    <option value="-1">卡密状态不限</option>
                                    <option value="0">未使用 </option>
                                    <option value="1">已使用</option>
                                    <option value="2">使用中 </option>
                                    <option value="3">未知</option>
                                    <option value="4">密码错误</option>
                                    <option value="5">未激活</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select name="selector_state" id="search_managed_state" class="form-control1" placeholder="托管状">
                                    <option value="-1">托管状态不限</option>
                                    <option value="0">禁用 </option>
                                    <option value="1">正常</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select name="selector_state" id="search_settle_state" class="form-control1" placeholder="结算状态">
                                    <option value="-1">结算状态不限</option>
                                    <option value="0">未结算 </option>
                                    <option value="1">已结算</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default" type="button" style="margin-top:2px;" onclick="Table.search();">Go!</button>
                            </div>
                        </div>

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <table id="table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>批次号</th>
                            <th>充值卡号</th>
                            <th>面值</th>
                            <th>上传时间</th>
                            <th>会员编号</th>
                            <th>销售折扣</th>
                            <th>产品类目</th>
                            <th>使用次数</th>
                            <th>卡密状态</th>
                            <th>托管状态</th>
                            <th>结算状态</th>
                            <!--<th>批次主键</th>
                            <th>产品主键</th>
                            <th>总金额</th>
                            <th>已用数量</th>
                            <th>未用数量</th>
                            <th>错误数</th>
                            <th>在用数</th>
                            <th>批次状态</th>
                            <th>初始折扣</th>-->
                            <th>用户备注</th>
                            <!--<th>优先级</th>
                            <th>卡密信息</th>-->
                            <th style="text-align:center;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="pre_card_table"></tbody>
                </table>
                <nav class="main" aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled"><a href="#javascript:;" onclick="previousPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li><span aria-hidden="true" id="total">共-条</span></li>
                        <li class="next"><a href="#javascript:;" onclick="nextPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- //tables -->
        <!-- /social_media-->
        <!--@Partial['social_media_allycs.html'];-->
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_script']
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="js/init.search.date.js"></script>
<script src="js/pre-card-table.js"></script>
<script type="text/javascript">
    var batchId = null;
    var cardId = null;
    var cardState = null;
    var managedState = null;
    var settleState = null;
    $(document).ready(function () {
        $('#table').basictable();
        $('#search_start_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond: true,
            showHours: true,
            minuteStep: 15,
            language: "zh-CN"
        });
        $('#search_end_time').datetimepicker({
            format: 'yyyy/mm/dd hh:ii:ss',
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 0,
            maxView: 4,
            showSecond: true,
            showHours: true,
            minuteStep: 15,
            language: "zh-CN"
        });
        Table.init();
    });
</script>
@EndSection