@Master['master.html']

@Section['page_style']
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
@EndSection
@Section['Content']
<div class="inner_content">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="alert alert-danger alert-danger-modal" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="alert alert-success alert-success-modal" role="alert" style="display:none;">
                <strong>操作成功！</strong>本次操作未发现异常。
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改系统产品售价</h4>
                </div>
                <div class="modal-body">
                    <div class="grid-1">
                        <div class="form-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label">售价</label>
                                    <div class="col-sm-5"> <input type="text" class="form-control" disabled="disabled" id="sale_id"> </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">产品</label>
                                    <div class="col-sm-5"> <input type="text" class="form-control" disabled="disabled" id="sale_product_id"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label">名称</label>
                                    <div class="col-sm-5"> <input type="text" class="form-control" disabled="disabled" id="sale_product_name"> </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">类型</label>
                                    <div class="col-sm-5"> <input type="text" class="form-control" disabled="disabled" id="sale_product_state"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label">面值</label>
                                    <div class="col-sm-3"> <input type="text" class="form-control" disabled="disabled" id="sale_product_par_value"> </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">最高价</label>
                                    <div class="col-sm-3"> <input type="number" min="0.00" step="0.01" class="form-control" id="sale_max_price"> </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">最低价</label>
                                    <div class="col-sm-3"> <input type="number" min="0.00" step="0.01" class="form-control" id="sale_min_price"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">备注</label>
                                    <div class="col-sm-9"> <input type="text" class="form-control" id="sale_remark"> </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="Table.update();">更新</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /inner_content_allycs_agile_info-->
    <!-- breadcrumbs -->
    <div class="allycs_agileits_breadcrumbs">
        <div class="allycs_agileits_breadcrumbs_inner">
            <ul>
                @Partial['breadcrumbs_main-page.html'];
                <li>销售管理<span>«</span>系统售价列表</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <div class="inner_content_allycs_agile_info two_in">

        <!-- tables -->
        <div class="agile-tables">
            <div class="alert alert-danger alert-main" role="alert" style="display:none;">
                <strong>数据请求存在错误!</strong>请再次检查请求的各项参数是否合法。
            </div>
            <div class="allycs-table-info agile_info_shadow">
                <div class="row">
                    <div class="col-sm-2">
                        <h3 class="allycs_inner_tittle two">系统售价信息列表</h3>
                    </div>
                    <div class="col-sm-10" style="padding-top: 0.5em;">
                        <div class="col-sm-2">
                            <input id="search_product_name" type="text" class="form-control" placeholder="产品名称">
                        </div>
                        <div class="col-sm-3">
                            <select name="selector_category" id="search_categoryId" class="form-control1" placeholder="运营商">
                                <option value="-1">运行商不限</option>
                                <option value="0">移动</option>
                                <option value="1">联通</option>
                                <option value="2">电信</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input id="search_par_value" type="number" class="form-control" placeholder="面值">
                        </div>
                        <div class="col-sm-2">
                            <select name="selector_state" id="search_state" class="form-control1" placeholder="运营商">
                                <option value="-1">状态不限</option>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-default" type="button" style="margin-top:2px;" onclick="Table.search();">Go!</button>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <table id="table">
                    <thead>
                        <tr>
                            <th>售价主键</th>
                            <th>产品主键</th>
                            <th>最高售价</th>
                            <th>最低售价</th>
                            <th>备注信息</th>
                            <th>产品编号</th>
                            <th>产品名称</th>
                            <th>产品类目</th>
                            <th>产品面值</th>
                            <th>产品状态</th>
                            <th style="text-align:center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="sale_table"></tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled"><a href="#javascript:;" onclick="previousPage();"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li><span aria-hidden="true" id="total">共-条</span></li>
                        <li class="next"><a href="#javascript:;" onclick="nextPage();">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- //tables -->
        <!-- /social_media-->
        @Partial['social_media_allycs.html'];
        <!-- //social_media-->
    </div>
    <!-- //inner_content_allycs_agile_info-->
</div>
@EndSection
@Section['page_script']
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script src="js/sale-table.js"></script>
<script type="text/javascript">
    var productName = null;
    var categoryId = null;
    var parValue = null;
    var state = null;
    $(document).ready(function () {
        $('#table').basictable();
        Table.init();
    });
</script>
@EndSection