<!--
author: allycs
author email: allycs@126.com
-->
<!-- /allycs_agileits_top_nav-->
<!-- /nav-->
<div class="allycs_agileits_top_nav">
    <ul id="gn-menu" class="gn-menu-main">
        <!-- /nav_agile_allycs -->
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>菜单</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller scrollbar1">
                    <ul class="gn-menu agile_menu_drop">
                        <li><a href="main-page"> <i class="fa fa-tachometer"></i> 数据总览</a></li>
                        <li>
                            <a href="#"><i class="fa fa-users" aria-hidden="true"></i> 会员管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="user-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 会员列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-shopping-cart" aria-hidden="true"></i> 产品管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="product-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 产品列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-truck" aria-hidden="true"></i> 销售管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="sale-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 系统售价列表</a>
                                </li>
                                <li class="mini_list_agile">
                                    <a href="sale-customer-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 自定售价列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i> 卡密管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="pre-card-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 卡密列表</a>
                                </li>
                                <li class="mini_list_agile">
                                    <a href="pre-card-batch-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 批次列表</a>
                                </li>
                                <!--<li class="mini_list_agile">
                                    <a href="pre-card-log-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 日志列表</a>
                                </li>-->
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> 出库管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="out-stock-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 出库列表</a>
                                </li>
                                <!--<li class="mini_list_agile">
                                    <a href="out-stock-log-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 日志列表</a>
                                </li>-->
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i> 财务管理 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile">
                                    <a href="capital-details-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 资金明细列表</a>
                                </li>
                                <li class="mini_list_agile">
                                    <a href="member-withdraw-table"><i class="fa fa-caret-right" aria-hidden="true"></i> 会员提现列表</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <!-- //nav_agile_allycs -->
        <li class="second logo"><h1><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Elephant </a></h1></li>
        <li class="second top_bell_nav" id="common" style="float:right;padding:0;">
            <div style="width:100%;">allycs</div>
            <div style="width:100%;">allycs@126.com</div>
            <div style="width:100%;">内部员工</div>
        </li>
        <li class="second admin-pic" style="float:right;">
            <ul class="top_dp_agile">
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>
                        </div>
                    </a>
                    <!--<ul class="dropdown-menu drp-mnu">
                        <li> <a href="#"><i class="fa fa-cog"></i> 设置</a> </li>
                        <li> <a href="#"><i class="fa fa-user"></i> 信息</a> </li>
                        <li> <a href="/logout"><i class="fa fa-sign-out"></i> 登出</a> </li>
                    </ul>-->
                </li>
            </ul>
        </li>
        <li class="second top_bell_nav">
            <ul class="top_dp_agile ">
                <li class="dropdown head-dpdn">
                    <a href="capital-details-table" class="dropdown-toggle" title="资金明细" >
                        <i class="fa fa-asl-interpreting"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="second top_bell_nav" style="float:left;">
            <ul class="top_dp_agile ">
                <li class="dropdown head-dpdn">
                    <a href="out-stock-table" class="dropdown-toggle" title="出库信息"><i class="fa fa-tasks"></i></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- //nav -->

</div>
