<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
@Section['page_scriptafter_jquery'];
<script src="js/modernizr.custom.js"></script>
<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>

<script src="js/control-page.js"></script>
<script src="js/date-format.js"></script>
<script src="js/status-type-tostring.js"></script>
@Section['page_script'];
<script src="js/screenfull.js"></script>
<script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

        if (!screenfull.enabled) {
            return false;
        }



        $('#toggle').click(function () {
            screenfull.toggle($('#container')[0]);
        });
    });
</script>
@Section['page_script_after_screenfull'];
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
@Section['page_scriptafter_scripts'];
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>